.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 15rem;

  .titleContainer {
    width: 100%;
    text-align: center;
    border-bottom: 0.5px solid rgb(204, 219, 232);
    .title {
      font-size: 18px;
      font-weight: 600;
      padding-bottom: 10px;
    }
  }
}
