.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .titleContainer {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid;
    .title {
      font-size: 18px;
      font-weight: 600;
      padding-bottom: 10px;
    }
  }
}