.dashBoard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #dadbdd;
  padding: 10px;
  min-height: 90vh;
}

.widgetContainer {
  border: 1px solid rgb(204, 219, 232);
  border-radius: 10px;
  padding: 30px 10px;
  margin: 0 20px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px;
  background-color: #fff;
}
